#
# SPDX-FileCopyrightText: The LineageOS Project
# SPDX-License-Identifier: Apache-2.0
#

get_prop(hal_keymaster_default, tee_prop)

# /vendor/app/mcRegistry/
allow hal_keymaster_default mobicore_vendor_file:dir search;
allow hal_keymaster_default mobicore_vendor_file:file r_file_perms;
